@model P2WebMVC.Models.ViewModels.CartViewModel
@{
    ViewData["Title"] = "Cart";
}



<section class="pt-5 ftco-cart">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ftco-animate">

                <div class="cart-list">
                    <table class="table">
                        <thead class="thead-primary">
                            <tr class="text-center">
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>


                            @foreach (var cartItem in Model.CartItems)
                            {


                                <tr class="text-center">
                                    <td class="product-remove"><a href="#"><span class="ion-ios-close"></span></a></td>

                                    <td class="image-prod">
                                        <img src="@cartItem?.Product?.ImageUrl" width="120" />
                                    </td>

                                    <td class="product-name">
                                        <h3>@cartItem?.Product?.Name</h3>
                                        @* <p>@cartItem?.Product.</p> *@
                                    </td>

                                    <td class="price">$ @cartItem?.Product?.Price</td>

                                    <td class="quantity">
                                        <div class="input-group mb-3">
                                            <input type="number" name="quantity" class="quantity form-control input-number"
                                                value="@cartItem?.Quantity" min="1" max="100">
                                        </div>
                                    </td>

                                    <td class="total">$ @(cartItem?.Product?.Price * cartItem?.Quantity)</td>
                                </tr>
                            
                                <!-- END TR-->

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div class="row justify-content-center">
            <div class="col col-lg-5 col-md-6 mt-5 cart-wrap ftco-animate">
                <div class="cart-total mb-3">
                    <h3>Cart Totals</h3>
                    <p class="d-flex">
                        <span>Subtotal</span>
                        <span>$ @Model?.Cart?.CartValue.00</span>
                    </p>
                    <p class="d-flex">
                        <span>Delivery</span>
                        <span>$ 19.99</span>
                    </p>
                    <p class="d-flex">
                        <span>Discount</span>
                        <span>$ 10.00</span>
                    </p>
                    <hr>
                    <p class="d-flex total-price">
                        <span>Total</span>
                        <span>$ @(Model?.Cart?.CartValue + 9.99)</span>
                    </p>
                </div>
                <p class="text-center"><a href="#" class="btn btn-primary py-3 px-4">Proceed to Checkout</a>
                </p>
            </div>
        </div>
    </div>
</section>
